certifi==2019.9.11
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
wincertstore==0.2
boost==0.1
numpy==1.15.4
pandas==0.23.4
appdirs==1.4.3
distlib==0.3.0
filelock==3.0.12
importlib-metadata==1.6.0
pipenv==2018.11.26
six==1.14.0
virtualenv==20.0.16
virtualenv-clone==0.5.4
zipp==3.1.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
